[Unit]
Description=Runs python based event logger after boot
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/home/pi/housemachine/textlog/launch_blackbox.sh

[Install]
WantedBy=multi-user.target
