[Unit]
Description=Runs streamlink streamer in loop after boot
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/home/pi/streaming-calit2/player/launch_streaming.sh

[Install]
WantedBy=multi-user.target
